@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap);
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(0, 0, 0);
  font-family: Nunito;
  font-size: 16px;
  background-color: #ffffff;
  text-decoration: ;
}
a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
